.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.rClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.rItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.rItemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: bold;
}

.rSelectRooms {
  display: flex;
  gap: 10px;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rButton {
  border: none;
  padding: 10px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
