.listContainer {
  max-width: 1024px;
  margin: 30px auto;
  padding: 0 20px;
}

.listTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.listResult {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
